certifi==2025.6.15
cfgv==3.4.0
charset-normalizer==3.4.2
conventional-commit==0.4.2
distlib==0.3.9
filelock==3.18.0
flake8==7.2.0
identify==2.6.12
idna==3.10
isort==6.0.1
mccabe==0.7.0
nodeenv==1.9.1
packaging==19.2
platformdirs==4.3.8
-e git+https://github.com/raylai-proj/poetry_project_setup.git@4deeaae02d9479beb4f337401e0812a80c90b0c5#egg=poetry_project_setup
pre_commit==4.2.0
prompt_toolkit==3.0.51
pycodestyle==2.13.0
pyflakes==3.3.2
pyparsing==3.2.3
pyperclip==1.9.0
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
urllib3==2.5.0
virtualenv==20.31.2
wcwidth==0.2.13
